* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

.body {
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 22px;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 990px;
  /* border: 1px solid #D3D3D3; */
}

.sidebar {
  width: 35%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.content {
  padding-left: 32px;
  padding-right: 32px;
}

.rectangle {
  height: 40px;
}

.white,
.aside {
  margin-bottom: 32px;
}

.aside,
.main-footer {
  background-color: #376193;
}

.main-footer {
  margin-top: 20px;
}

.full-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #264061;
  margin-top: 10px;
  /* margin-bottom: 25px; */
}

.full-name > h3 {
  border-bottom: none;
}

.my-photo {
  display: block;
  border-radius: 50%;
  margin: 0 auto 25px;
}

h3 {
  color: #264061;
  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  border-bottom: 2px solid #376193;
  margin: 20px auto;

}

.skills-list {
  columns: 3;
  padding: 0 35px;
}

.interests-list {
  columns: 3;
  padding: 0 45px;
}

.experience-list {
  padding-left: 35px;
}

.experience-list__position {
  margin-bottom: 10px;
}

.experience-description {
  margin: 10px auto;
}

.job-responsibilities {
  list-style:circle;
}



.education-courses > li {
  margin: 20px 35px;
}

.education-description {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
}

.courses-details {
  display: inline-flex;
  flex-direction: column;
}

.university {
  padding-left: 35px;
}

.languages-list {
  padding-left: 10px;
  list-style: none;
}

.contacts-list {
  cursor: pointer;
  list-style: none;
}

.contact-me {
  margin-left: 10px;
}

.contacts-list li:not(:last-child),
.languages-list li:not(:last-child) {
  margin-bottom: 15px;
}

.map-marker {
  cursor:auto;
  width: 20px;
}
